absl-py==1.4.0
accelerate==0.21.0
aiofiles==23.2.1
aiohttp==3.8.4
aiosignal==1.3.1
albumentations==1.3.1
altair==4.2.2
anyio==3.7.1
arrow==1.2.3
asttokens==2.2.1
async-timeout==4.0.2
attrs==22.2.0
autopep8==2.0.2
autotrain-advanced==0.6.18
backcall==0.2.0
bard==0.1
bardapi==0.1.32
beautifulsoup4==4.12.2
bitsandbytes==0.41.1
blinker==1.5
browser-cookie3==0.19.1
cachelib==0.9.0
cachetools==5.3.0
certifi==2022.12.7
charset-normalizer==3.0.1
click==8.1.3
codecarbon==2.2.3
cohere==3.8.0
colorama==0.4.6
comm==0.1.2
comtypes==1.2.0
contourpy==1.0.7
cycler==0.11.0
dataclasses-json==0.5.14
datasets==2.14.4
debugpy==1.6.6
decorator==5.1.1
deep-translator==1.11.4
diffusers==0.19.3
dill==0.3.7
dominate==2.8.0
dotenv-python==0.0.1
einops==0.6.1
entrypoints==0.4
et-xmlfile==1.1.0
evaluate==0.3.0
exceptiongroup==1.1.2
executing==1.2.0
Faker==19.3.0
fastapi==0.101.0
favicon==0.7.0
ffmpy==0.3.1
filelock==3.12.2
Flask==2.0.1
Flask-Bootstrap==3.3.7.1
Flask-Caching==1.10.1
Flask-Cors==4.0.0
fonttools==4.39.2
frozenlist==1.3.3
fsspec==2023.6.0
fuzzywuzzy==0.18.0
gitdb==4.0.10
GitPython==3.1.31
google-api-core==2.11.1
google-auth==2.22.0
google-auth-oauthlib==1.0.0
google-cloud-core==2.3.3
google-cloud-translate==3.12.0
googleapis-common-protos==1.60.0
gradio==3.39.0
gradio_client==0.3.0
greenlet==2.0.2
grpcio==1.57.0
grpcio-status==1.57.0
gunicorn==20.1.0
h11==0.14.0
h2==4.1.0
hpack==4.0.0
htbuilder==0.6.1
httpcore==0.17.3
httpx==0.24.1
hugchat==0.1.0
huggingface-hub==0.16.4
hyperframe==6.0.1
idna==3.4
imageio==2.31.1
importlib-metadata==6.0.0
invisible-watermark==0.2.0
ipadic==1.0.0
ipykernel==6.22.0
ipython==8.11.0
itsdangerous==2.1.2
jedi==0.18.2
Jinja2==3.1.2
jiwer==3.0.2
joblib==1.3.1
jsonschema==4.17.3
jupyter_client==8.1.0
jupyter_core==5.3.0
kiwisolver==1.4.4
langchain==0.0.260
langdetect==1.0.9
langsmith==0.0.20
lazy_loader==0.3
linkify-it-py==2.0.2
loguru==0.7.0
lxml==4.9.2
lz4==4.3.2
Markdown==3.4.4
markdown-it-py==2.2.0
markdownlit==0.0.7
MarkupSafe==2.1.2
marshmallow==3.20.1
matplotlib==3.7.1
matplotlib-inline==0.1.6
mdit-py-plugins==0.3.3
mdurl==0.1.2
more-itertools==10.1.0
mpmath==1.3.0
multidict==6.0.4
multiprocess==0.70.15
mypy-extensions==1.0.0
nest-asyncio==1.5.6
networkx==3.1
numexpr==2.8.5
numpy==1.24.2
oauthlib==3.2.2
openai==0.10.2
openapi-schema-pydantic==1.2.4
opencv-python==4.7.0.72
opencv-python-headless==4.8.0.76
openpyxl==3.1.2
orjson==3.9.4
packaging==23.1
pandas==2.0.3
pandas-stubs==2.0.1.230501
parso==0.8.3
peft==0.4.0
pickleshare==0.7.5
Pillow==9.5.0
platformdirs==3.1.1
proto-plus==1.22.3
protobuf==4.23.4
psutil==5.9.5
py-cpuinfo==9.0.0
pyarrow==12.0.1
pyasn1==0.5.0
pyasn1-modules==0.3.0
PyAudio==0.2.13
pycryptodomex==3.18.0
pydantic==1.10.11
pydeck==0.8.0
pydub==0.25.1
Pygments==2.16.1
pymdown-extensions==10.1
Pympler==1.0.1
pynvml==11.5.0
pyparsing==3.1.1
pypiwin32==223
pyrsistent==0.19.3
python-dateutil==2.8.2
python-dotenv==1.0.0
python-multipart==0.0.6
pyttsx3==2.90
pytz==2023.3
pytz-deprecation-shim==0.1.0.post0
PyWavelets==1.4.1
pywin32==306
PyYAML==6.0.1
qudida==0.0.4
rapidfuzz==2.13.7
regex==2023.8.8
requests==2.31.0
requests-oauthlib==1.3.1
requests-toolbelt==1.0.0
responses==0.18.0
rich==13.5.2
rsa==4.9
sacremoses==0.0.53
safetensors==0.3.2
scikit-image==0.21.0
scikit-learn==1.3.0
scipy==1.11.1
semantic-version==2.10.0
sentencepiece==0.1.99
six==1.16.0
smmap==5.0.0
sniffio==1.3.0
soupsieve==2.4.1
SpeechRecognition==3.10.0
SQLAlchemy==2.0.19
st-annotated-text==4.0.0
starlette==0.27.0
streamlit==1.25.0
streamlit-camera-input-live==0.2.0
streamlit-card==0.0.61
streamlit-chat==0.1.1
streamlit-embedcode==0.1.2
streamlit-extras==0.3.0
streamlit-faker==0.0.2
streamlit-image-coordinates==0.1.6
streamlit-keyup==0.2.0
streamlit-toggle-switch==1.0.2
streamlit-vertical-slider==1.0.2
sudo==1.0.0
sympy==1.12
tenacity==8.2.2
tensorboard==2.14.0
tensorboard-data-server==0.7.1
threadpoolctl==3.2.0
tifffile==2023.7.18
tiktoken==0.4.0
tokenizers==0.13.3
toml==0.10.2
toolz==0.12.0
torch==2.0.1
torchvision==0.15.2
tornado==6.3.2
tqdm==4.65.0
transformers==4.31.0
trl==0.5.0
types-pytz==2023.3.0.0
typing-inspect==0.9.0
typing_extensions==4.6.3
tzdata==2023.3
tzlocal==4.3.1
uc-micro-py==1.0.2
urllib3==1.26.16
uvicorn==0.23.2
validators==0.20.0
visitor==0.1.3
watchdog==3.0.0
websockets==11.0.3
Werkzeug==2.3.6
wikipedia==1.4.0
win32-setctime==1.1.0
xxhash==3.3.0
yarl==1.9.2
zipp==3.16.2
